//  responsive for home

//TODO eventually margin top with percent

@media screen and (max-width: 1683px) {
.bloc {
  //width: 95%;
}

.header-home {
  //flex-direction: column;
  width: 77%;

  &__nav {
    width: 100%;
    justify-content: left;
    //margin-top: 25px;

    & ul {
      padding-left: 0;
      //margin: auto;
      width: 70%;
      display: flex;
      justify-content: left;
    }
  }
}

.main {

  &__title {
    //position: initial;
    text-align: right;
    margin-top: 0;
    }

  &__section {
    margin-top: 60px;
  }
  }
}

@media screen and (max-width: 1520px) {
  .header-home {
    flex-direction: column;

    &__nav {
      margin-top: 25px;
      justify-content: center;

      & ul {
        margin: auto;
        justify-content: center;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
.main {

  &__title {
    font-size: 14px;
  }

  &__section {
    margin: 35px auto;
    margin-top: 50px;

    &__line {
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
    }
  }
}

.main {

  &__section {
    //margin-top: 97px;
  }
}

.profile {
  margin: 30px auto;
  width : 100%;
}
}

@media screen and (max-width: 980px){
  .main {

    &__section {
     flex-direction: column;
    }
}}
.profile-rounded{
  width: 230px;
  height: 230px;
}

@media screen and (max-width: 567px) {

.main {

  &__section {
    margin-top: 98px;
  }
}
}

@media screen and (max-width: 425px) {
.header-home {

  &__nav {

    & ul {
      width: 80%;
    }
  }
}
}

@media screen and (max-width: 363px) {
.header-home {

  &__logo {
    width: 130px;
  }
}

.main{

  &__section {
    //margin-top: 184px;
  }
}
}





// responsive for photographer page


  @media screen and (max-width: 1439px) {

    .body-profile {

      &__content {

        &__pictures {
          justify-content: space-around;
        }
      }
    }
  }

@media screen and (max-width: 1300px) {

.publication {

  &__description {

    &__title {
      font-size: 0.9rem;
    }

    &__infos {

      & p {
        font-size: 0.9rem;
      }
    }
  }
}
  #profile-header {
    width: 50%;
  }

}

@media screen and (max-width: 870px) {

.body-profile{
  &__resume {
    background-color: white;
    padding: 0;
    align-items: center;

    &__info {
      flex-basis: 70%;

      & #profile-location {
        font-size: 13px;
        line-height: 17px;
        margin: 0;
      }

      & #profile-quote {
        font-size: 13px;
        line-height: 17px;
        margin: 6px 0;
      }

      &__hashtag {
        font-size: 13px;
        line-height: 17px;

        & ul {
          flex-wrap: wrap;
        }
      }

      &__name {

        & #profile-header {
          font-size: 36px;
          line-height: 47px;
        }

        & button {
          display: none;
        }
      }
    }
  }

  &__contact {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 3%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 35px;
  }

  &__essential {
    display: none;
  }
}

}

@media screen and (max-width: 800px) {

  .modal__close {
    top: 28px;
    font-size: 10px;
  }

  .modal__content {
    &__prev {
      font-size: 10px;
    }
    &__next {
      font-size: 10px;
    }
    #caption {
      font-size: 12px;
    }
  }

  #profile-header {
    width: 100%;
  }

  .header-profile {
    padding: 26px 0 0 0;
  }

  .body-profile {

    & .header-profile {
      padding: 26px 0 0 0;
    }

    &__content {

      margin-top: 30px;

      &__order {
        display: none;
      }

      &__pictures {
        flex-direction: column;
        margin: 0 0 100px;

        &__line {
          flex-direction: column;
        }
      }
    }

    & .modal__content {
      width: 100%;

      &__title {
        margin-top: 20px;

        & i {
          right: 5%;
          font-size: 38px
        }

        & p {
          font-size: 36px;
          line-height: 47px;
        }
      }

      & .form-data {
        margin: 10px 0;

        &__text-control {
          font-size: 24px;
          margin-bottom: 15px;
        }
      }

      & [type=submit] {
        margin: 30px auto;
        height: 35px;
        display: block;
      }
    }
  }

  .publication {
    margin: 10px auto;

    &__picture {
      height: 190px;
    }
  }

  .profile-rounded {
/*    height: 150px;
    width: 150px;*/
  }

  .main__title {
    right: 0%;
  }

  .publication {
    margin: 0 auto;

    &__picture {

      & img {
        width: 335px;
        height: 190px;
      }

      & video {
        width: 335px;
        height: 190px;
      }
    }

    &__description {
      width: 335px;
    }
  }
}

@media screen and (max-width: 439px) {

.modal--contact__content {
  width: 70%;
}

.body-profile {

  &__resume {
    padding: 15px 0;

    &__info {
      width: 70%;
    }
  }
}
  .header-home__logo {
    width: 137px;
  }

.profile-rounded {
/*  height: 100px;
  width: 100px;*/
}
}

@media screen and (max-width: 300px){
  .header-home__logo {
    width: 105px;
  }

  .main__title {
    margin: 22px auto 0 46%;
  }
}


// Contact Modal

@media screen and (max-width: 1400px ){

  .modal--contact__content {
    & p {
      font-size: 40px;
    }
  }

  .form-data__text-control {
    font-size: 25px;
  }

  .validate {
    display: flex;
    justify-content: center;
  }

  #validate-modal {
    height: 40px;
  }

  .form-data__input {
  height: 50px;
  }
}

@media screen and (max-width: 930px){
  .modal--contact__content {
    & p {
      font-size: 28px;
    }
  }
  .form-data__text-control {
    font-size: 19px;
  }

  .form-data__input {
    height: 35px;
  }
}

@media screen and (max-width: 660px){
  .modal--contact__content {
    & p {
      font-size: 20px;
    }
  }

  .form-data__input {
    height: 25px;
  }
}

