// header home

.header-home {
  display: flex;
  left: 15%;
  flex-direction: row;
  position: absolute;
  width: 95%;
  // margin-top: 5px;

  & > a {
    position: absolute;
    height: 50px;
    width: 206px;
  }

  &__logo {
    width: 200px;
  }

  &__nav {
    display: flex;
    align-items: center;
    width: 48%;

    & ul {
      display: flex;
      gap: 1%;
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;
      padding-left: 0;

      & li {
        margin: 4px 0;
      }
    }
  }
}

.header-profile {
  padding: 26px 0;

  & > a {
    position: absolute;
    height: 50px;
    width: 206px;
  }

  &__logo {
    width: 200px;
  }
}
